<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello from Golang!</title>
</head>
<br>
<h2><a href="/signup">Sign-Up</a></h2>
<br>
<h2><a href="/login">Login</a></h2>
</html>