<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h2><a href="/logout">Logout</a></h2>
<br>
<h2><a href="/upload">Upload Pictures</a></h2>
<br>
<h2><a href="/view">View Pictures</a></h2>
<br>
</body>
</html>
