<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="picture">
    <input type="submit">
</form>

<br>
<h2><a href="/logout">LogOut</a></h2>
<br>
<h2><a href="/view">View Pictures</a></h2>
</body>
</html>
